@font-face {
    font-family: 'baskervvilleregular';
    src: url('../fonts/georgia/baskervville-regular-webfont.woff2') format('woff2'),
         url('../fonts/georgia/baskervville-regular-webfont.woff') format('woff'),
         url('../fonts/georgia/baskervville-regular-webfont.ttf') format('truetype'),
         url('../fonts/georgia/baskervville-regular-webfont.svg#baskervvilleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}